<!DOCTYPE html>
<html>
  <head>
    <%- include ('../shared/header.ejs') %>
    <%- include ('../shared/styles.ejs') %>
    
  </head>
  <body>    
  <%- include ('../session/index.ejs') %>    
  <%- include ('../shared/scripts.ejs') %>    
  <%- include ('../shared/react.ejs') %>      
  <%- include('../../../public/components/session/index.html'); %>
</body>
</html>