<html>
  <head>
    <%- include ('./shared/header.ejs') %>
    <%- include ('./shared/styles.ejs') %>
    <%- include ('./shared/scripts.ejs') %>    
  </head>
  <body>
<%- include ('./dashboard/index.ejs')    %>
<%- include ('./activities/activity.ejs') %>
<%- include ('./shared/react.ejs') %>    
</body>
</html>