<!DOCTYPE html>
<html>
  <head>
    <%- include header-inter.ejs %>
    <%- include layout-inter.ejs %>
    <link rel="stylesheet" href="/css/index.css"/>
    <%- include script-inter.ejs %>
    <script src="/js/index.js"></script>
  </head>
  <body>
  
  <a href="https://wa.me/56995349852?text=I'm%20interes">Pincha Aca</a>

  
  <%- include navbar-inter.ejs %>
  
  <a href="https://wa.me/56995349852?text=I'm%20interested%20in%20your%20car%20for%20sale">
  
  <%- include promesas.ejs  %>
  <%- include promesa.ejs  %>
  <%- include prometeus.ejs %>
  </body>
</html>
